extends base.pug
block scripts
    script(src='/static/script.js')

block style
    style
        include ../static/style.css
        include ../static/styleabout.css

block content
    div.about
        h1 About SP dance Academy
        div.container
            h2 About The founder : Sourjya Pal
            img#sp(src="/static/img/sp.png", alt="")
            ul
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
        div.container
            h2 About Our Dance Facilities
            img.df(src="/static/img/df1.jpg", alt="")
            ul
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
        div.container
            h2 About Our Teachers
            img.df(src="/static/img/tch.jpg", alt="")
            ul
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
        div.container
            h2 Our Achivements
            div.awards
                img(src="/static/img/d1.jpg", alt="")
                img(src="/static/img/d2.jpg", alt="")
                img(src="/static/img/d3.png", alt="")
                img(src="/static/img/d4.jpg", alt="")
            ul  
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.