extends base.pug
block scripts
    script(src='/static/script.js')

block style
    style
        include ../static/style.css
        include ../static/styleabout.css

block content
    div.about
        h1 Services of SP dance Academy
        div.container
            h2 Types of Dances a student can learn
            //- img#sp(src="/static/img/sp.jpg" alt="")
            ul
                h3 Details:-
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
        div.container
            h2 Online Dance Classes
            
            ul
                h3 Details:-
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
        div.container
            h2 Certificate given after every course 
            //- img.df(src="/static/img/tch.jpg" alt="")
            ul
                h3 Details:-
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
                li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum provident voluptatum, temporibus atque, nam repellendus nulla consectetur quam laborum aperiam corporis, mollitia distinctio rerum tempore unde sunt odio id voluptatibus aut perspiciatis facere placeat.
    